# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# Build
dist/
build/

# Coverage (tests)
coverage/

# Archivos temporales
*.tmp
*.temp

# Editor configs
.vscode/
.idea/

# Nodemon
nodemon-debug.log

# Optional npm cache
.npm/

# Backup
*.bak
*.swp
